{% extends "Cachapon/base.html" %}
{% block container %}
	<div class="container">
		<div>
			<table>
				{% for id,icon in icons %}

					{% if forloop.counter0|divisibleby:6 %}
						<tr>
					{% endif %}

					<td style="padding-right:30px; padding-bottom:30px;">
						<a data-toggle="modal" data-target="#{{ id }}" >
							<img src="/media/{{ icon }}" class="img-responsive"/>
						</a>
					</td>


					{% if forloop.counter|divisibleby:6 %}
						</tr>
					{% endif %}	
				{% endfor %}
			</table>
		</div>

		{% for info in infos %}
		<div class="modal fade" id="{{ info.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      		</div>

		      		<div class="modal-body">	
		      			<img class="img-responsive" src="/media/{{ info.picture }}">

		      			<table class="table">
		      				<thead><th>名稱</th>	
		      				<tbody><th>{{ info.name }}</th></tbody>
		      			</table>

		      			<table class="table">
		      				<thead><th>生命</th><th>攻擊</th><th>回復</th><th>稀有度</th><th>屬性</th></thead>	
		      				<tbody>
		      					<th>{{ info.health }}</th><th>{{ info.attack }}</th><th>{{ info.recover }}</th>
		      					<th>{{ info.rare }}</th><th>{{ info.attribute }}</th>
		      				</tbody>
		      			</table>

		      			<table class="table">
		      				<thead><th class="col-md-2">主動技</th><th>效果</th>
		      				<tbody><th>{{ info.active_skill }}</th><th>{{ info.active_skill.info }}</th></tbody>
		      			</table>

		      			<table class="table">
		      				<thead><th class="col-md-2">隊長技</th><th>效果</th>
		      				<tbody><th>{{ info.leader_skill }}</th><th>{{ info.leader_skill.info }}</th></tbody>
		      			</table>

		      		</div>

		      		<div class="modal-footer">
		      		</div>
		    	</div>
		  	</div>
		</div>
		{% endfor %}

		
	</div>

	{% block script %}
		<script type="text/javascript">$(".pop").popover(); </script>
	{% endblock script %}
	
{% endblock container %}