{% extends "Cachapon/base.html" %}

{% block container %}

	<div class="container">

		<p>{{ errorMsg }}</p>

		<form role="form" action = "/accounts/auth/" method="post" class="col-lg-6 col-lg-offset-2">
			{% csrf_token %}
		 	<div class="form-group">
		    	<label>Account</label>
		    	<input type="text" class="form-control" name="username" id="account" placeholder="Enter account">
		  	</div>
		  	<div class="form-group">
		    	<label>Password</label>
		    	<input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
		  	</div>
		  	<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>	
{% endblock container %}

